@import url('style.css');

body > main > section{
    overflow-x: auto;
}

body > main > div > table > th, td{
    border: 0.1rem solid black;
    padding:0.5rem;
}

td{
    text-align: center;
}
/*SECTIONS*/

section{
    background-color: #333333;
    margin:0.5rem;
    padding: 1.5rem;
    border-radius: 1rem;
}
section > img{
    border-radius: 2rem;
}