@import url('style.css');

body > main > section{
    overflow-x: auto;
}

/*GENERAL*/

div#JSON-JS-imgs{
    display:flex;
}
div#JSON-JS-imgs > div{
    padding: 1rem;
}

div#event-listener-table{
    display:flex;
}
div#event-listener-table > table{
    margin:0.5rem;
}