@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}

body{
    background-color: #494949;
    color:white;
}

/*HEADER*/

body > header{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    background-color: #191919;
    padding: 1rem;
    font-size: 0.5rem;
}
body > header > img {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

/*NAVBAR*/

body > nav{
    background-color: #333333;
    padding: 0.8rem;
}
body > nav > a{
    color: #ffffff;
    text-decoration: none;
}

/*MAIN*/
body > main{
    margin:1rem;
}    

/*SECTION*/

section{
    overflow-x: auto;
}
section{
    background-color: #333333;
    margin:0.5rem;
    padding: 1.5rem;
    border-radius: 1rem;
}
section img{
    border-radius: 2rem;
}

/*TABLE*/

body > main > section{
    overflow-x: auto;
}

th, td{
    border: 0.1rem solid black;
    padding:0.5rem;
    text-align: center;
}

/*FOOTER*/

footer{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #191919;
    height: 2rem;
}

/*GENERAL*/

h2{
    padding: 1.2rem;
    color: rgb(63, 255, 63);
    font-size: 1.9rem;
}
h3{
    padding: 1rem;
    color: rgb(98, 86, 255);
    font-size: 1.6rem;
}
h4{ 
    padding: 1rem;
    color:rgb(255, 61, 61);
    font-size: 1.3rem;
}
h5{
    color: cyan;
    font-size: 1.2rem;
    padding: 1rem;
}
h6{
    color:black;
    padding: 1rem;
    font-size: 1.1rem;
}
p{
    color: violet;
    text-indent: 2rem;
    margin-top: 1rem;
    text-align: justify;
}
pre, code, td:nth-child(1){
    color:yellow;
}