@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}

body{
    background-color: #494949;
    color:white;
}

/*HEADER*/

body > header{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    background-color: #191919;
    padding: 1rem;
    font-size: 0.5rem;
}
body > header > img {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

/*NAVBAR*/

body > nav{
    background-color: #333333;
    padding: 0.8rem;
}
body > nav > a{
    color: #ffffff;
    text-decoration: none;
}

/*MAIN*/
body > main{
    margin:1rem;
}    

/*FOOTER*/

footer{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #191919;
    height: 2rem;
}

/*GENERAL*/

h2{
    padding: 1.2rem;
    color: rgb(63, 255, 63);
}
h3{
    padding: 1rem;
    color: rgb(98, 86, 255);
}
h4{ 
    padding: 1rem;
    color:rgb(255, 61, 61);
}
p{
    color: violet;
    text-indent: 2rem;
    margin-top: 1rem;
    text-align: justify;
}

